## Merging Instacart Data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import orders_clean.csv
path = r'/Users/elvachen/Documents/DA Learning/Immersion-data resources'
df_orders = pd.read_csv(os.path.join(path, 'prepared data', 'orders_clean.csv'),index_col = False)

In [5]:
# Import order_products_prior.csv
path = r'/Users/elvachen/Documents/DA Learning/Immersion-data resources'
df_orders_prior = pd.read_csv(os.path.join(path, 'original data', 'order_products_prior.csv'),index_col = False)

In [6]:
# Check the output
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check the shape of dataframe
df_orders.shape

(3421083, 8)

In [8]:
# Check the shape of dataframe
df_orders_prior.shape

(32434489, 4)

In [17]:
# Merge the dataframes with inner join
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_sequency,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [14]:
# Count the values of column "_merge"
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# Merge the dataframes with outer join
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', how='outer', indicator = True)

In [16]:
# Count the values of column "_merge"
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

## Exercise of 4.6

In [18]:
# 4.6.2 Export the merged file in pickle format as “orders_products_combined.pkl”
df_merged_large.to_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))